
To rotate the Services TLS CA and its leaf certificates, 
use one of the following procedures:

<ul>


<ul>
  <li><strong>Ops Manager v2.10:</strong> See 
      <a href="https://docs.pivotal.io/ops-manager/2-10/security/pcf-infrastructure/advanced-certificate-rotation.html#services-rotation">Rotating the Services TLS CA and Its Leaf Certificates</a>.
  </li>
  <li><strong>Ops Manager v2.9:</strong> See 
      <a href="https://docs.pivotal.io/ops-manager/2-9/security/pcf-infrastructure/advanced-certificate-rotation.html#services-rotation">Rotating the Services TLS CA and Its Leaf Certificates</a>.
  </li>
  <li><strong>Ops Manager v2.8:</strong> See 
    <a href="https://docs.pivotal.io/ops-manager/2-8/security/pcf-infrastructure/services_tls_ca_rotate.html">Rotating the Services TLS CA and Its Leaf Certificates</a>.
  </li>
  <li><strong>Ops Manager v2.7:</strong> See 
    <a href="https://docs.pivotal.io/ops-manager/2-7/security/pcf-infrastructure/services_tls_ca_rotate.html">Rotating the Services TLS CA and Its Leaf Certificates</a>.
  </li>
</ul>
</ul>

Ops Manager v2.9 and later is compatible with CredHub Maestro.
<%= vars.product_short %> v2.8 and later is compatible with CredHub Maestro.
