---
title: Release Notes
Owner: MySQL
---

<strong><%= modified_date %></strong>

VMware recommends that you upgrade to the latest patch available for your current minor,
and then upgrade to the latest patch available for the next minor.

<%= partial vars.path_to_partials + '/upgrade-planner' %>

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle releasing a
MySQL patch and VMware releasing <%= vars.product_full %> containing that patch.

## <a id="3-0-0"></a> v3.0.0

**Release Date: April 5th, 2023**

### Changes

This release includes the following changes:

+ Support for MySQL 5.7 and 8.0: a new **MySQL Default Version** field for service plans enables operators to select either MySQL 5.7 or MySQL 8.0 as the default version for service instances created using the plan.
+ The tile requires Ubuntu Jammy stemcell 1.95 or later.
+ The number of available service plans has increased from 9 to 18.
+ For HA service instances, all nodes use TLS for internal communication.
+ VM extensions: a new field for service plans enables operators to configure a list of custom VM extensions that apply to VMs for service instances created using the plan.

### Breaking Changes

This release includes the following breaking changes:

+ The `enable_tls` property has been renamed to `enforce_client_tls`.
+ Ubuntu Jammy stemcells require TLS v1.2 or above. 
+ MySQL 8.0 service instances support both TLS v1.2 and TLS v1.3. MySQL 5.7 service instances support only TLS v1.2.

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>

  <tr><td>Stemcell</td><td>1.95</td></tr>
  <tr><td>Percona Server</td><td>8.0.31-23*</td></tr>
  <tr><td>Percona Server</td><td>5.7.40-43</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>8.0.31-23*</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>5.7.40-31.63</td></tr>
  <tr><td>Percona XtraBackup</td><td>8.0.32-25*</td></tr>
  <tr><td>Percona XtraBackup</td><td>2.4.27</td></tr>
  <tr><td>pxc-release</td><td>1.0.8*</td></tr>
  <tr><td>mysql-backup-release</td><td>2.25.0*</td></tr>
  <tr><td>mysql-monitoring-release</td><td>9.24.0*</td></tr>
  <tr><td>dedicated-mysql-release</td><td>0.187.0*</td></tr>

</table>

&#42; _Components marked with an asterisk have been updated_

