---
title: Release Notes
Owner: MySQL
---

<strong><%= modified_date %></strong>

VMware recommends that you upgrade to the latest patch available for your current minor,
and then upgrade to the latest patch available for the next minor.

<%= partial vars.path_to_partials + '/upgrade-planner' %>

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle releasing a
MySQL patch and VMware releasing <%= vars.product_full %> containing that patch.

## <a id="3-1-0"></a> v3.1.0

**Release Date: TBD**

### Changes

This release includes the following changes:

+ Adds dynamic configuration of wsrep_applier_threads. For information about
this configuration, see [WSREP applier threads](./change-default.html#wsrep_applier_threads) in _Changing Defaults Using Arbitrary Parameters_.

### Breaking Changes

TBD

### Compatibility

TBD
