<p>
  Before following the procedures below, log in to the
  <a href="https://docs.pivotal.io/application-service/cf-cli/getting-started.html">cf CLI</a> and the
  <a href="https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/2.10/vmware-tanzu-ops-manager/install-trouble-advanced.html">BOSH CLI</a>.
</p>
